.navbar-container {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}

.navbar-container .navbar-list {
  list-style-type: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .navbar-list .burger-container {
  display: none;
}

.navbar-container .navbar-list .logo {
  width: 44px;
  height: 44px;
  padding-top: 4px;
}

.navbar-container .navbar-list li {
  list-style-type: none;
  padding: 0 32px;
}

.navbar-container .navbar-list li a {
  font-size: 16px;
  color: #f5f5f783;
  text-decoration: none;
}

.navbar-container .navbar-list li a:hover {
  color: #fff;
}

.navbar-container .navbar-icons {
  width: 18px;
  height: 88px;
}

.navbar-container .navbar-icons-search {
  padding-top: 50px;
}

.navbar-container .navbar-icons-bag {
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-container .navbar-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
  }
  .navbar-container .navbar-list .burger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .store-link, .mac-link, .ipad-link, .iphone-link, .watch-link, .tv-link, .music-link, .support-link, .search-icon {
    display: none;
  }
}

.page-header-container {
  width: 100%;
  height: 52px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.274);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.page-header-container .page-name {
  margin-right: 25%;
  background-color: transparent;
}

.page-header-container .page-name h3 {
  font-size: 24px;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-header-container .page-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  background-color: transparent;
}

.page-header-container .page-actions .more-arrow {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  display: none;
  background-color: transparent;
}

.page-header-container .page-actions .more-arrow img {
  background-color: transparent;
}

.page-header-container .page-actions .more-arrow:hover {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.page-header-container .page-actions .overview,
.page-header-container .page-actions .tech-specs {
  font-size: 14px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  padding-top: 3px;
  background: transparent;
}

.page-header-container .page-actions .overview p,
.page-header-container .page-actions .tech-specs p {
  background-color: transparent;
}

.page-header-container .page-actions .white-shade {
  opacity: 0.52;
  cursor: default;
  background: transparent;
}

.page-header-container .page-actions .tech-specs p:hover {
  color: #0071e3;
}

.page-header-container .page-actions .buy {
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0071e3;
  border-radius: 15px;
  cursor: pointer;
  width: 45px;
  height: 25px;
}

@media only screen and (max-width: 768px) {
  .page-header-container .page-actions .more-arrow {
    display: block;
  }
  .page-header-container .page-actions .overview,
  .page-header-container .page-actions .tech-specs {
    display: none;
  }
}

.iphone-hero-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  overflow-x: hidden;
}

.iphone-hero-container .hero-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 70px;
  opacity: 1;
  background-color: transparent;
  -webkit-animation-name: title-card-fade;
          animation-name: title-card-fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.iphone-hero-container .hero-titles .hero-title {
  font-size: 20px;
  opacity: .9;
  background-color: transparent;
}

.iphone-hero-container .hero-titles .hero-title-big {
  font-size: 4.7rem;
  background-color: transparent;
}

.iphone-hero-container .big {
  width: 100%;
  height: 100%;
  margin-left: 30%;
  pointer-events: none;
}

.iphone-hero-container .small {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.iphone-hero-container .small {
  display: none;
}

@-webkit-keyframes title-card-fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .3;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-card-fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .3;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}

.iphone-hero-container .iphone12-details {
  margin: 17% 26% 5% 26%;
  color: #a1a1a6;
}

.iphone-hero-container .iphone12-details h4 {
  text-align: center;
  font-size: 25px;
}

.iphone-hero-container .iphone12-price {
  margin: 0;
  color: #a1a1a6;
  margin-bottom: 10px;
}

.iphone-hero-container .iphone12-price h4 {
  text-align: center;
  font-size: 22px;
}

.iphone-hero-container .big {
  display: block;
}

.iphone-hero-container .small {
  display: none;
}

@media only screen and (max-width: 425px) {
  .iphone-hero-container .hero-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 70px;
    opacity: 1;
    background-color: transparent;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .iphone-hero-container .hero-titles .hero-title {
    font-size: 16px;
    opacity: .9;
    background-color: transparent;
  }
  .iphone-hero-container .hero-titles .hero-title-big {
    font-size: 3rem;
    background-color: transparent;
  }
  .iphone-hero-container .big {
    display: none;
  }
  .iphone-hero-container .small {
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    margin: 20% 0px;
  }
  .iphone-hero-container .iphone12-details {
    margin: 5% 5%;
    color: #a1a1a6;
  }
  .iphone-hero-container .iphone12-details h4 {
    text-align: start;
    font-size: 22px;
  }
  .iphone-hero-container .iphone12-price {
    margin: 0;
    color: #a1a1a6;
  }
  .iphone-hero-container .iphone12-price h4 {
    text-align: start;
    font-size: 20px;
  }
}

.iphone-pro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10%;
}

.iphone-pro-container .iphone-pro-section {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iphone-pro-container .iphone-pro-section video {
  width: 320px;
  height: 628px;
}

.iphone-pro-container .iphone-pro-section .pro-screen-size {
  width: 1200px;
  left: 5%;
  position: absolute;
  height: 100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: transparent;
}

.iphone-pro-container .iphone-pro-section .pro-screen-size .pro-max, .iphone-pro-container .iphone-pro-section .pro-screen-size .pro {
  background-color: transparent;
}

.iphone-pro-container .iphone-pro-section .pro-screen-size .pro-max h3, .iphone-pro-container .iphone-pro-section .pro-screen-size .pro h3 {
  color: #f5f5f7;
  font-size: 17px;
}

.iphone-pro-container .iphone-pro-section .pro-screen-size .pro-max h5, .iphone-pro-container .iphone-pro-section .pro-screen-size .pro h5 {
  color: #a1a1a6;
  font-size: 16px;
}

.iphone-pro-container .iphone-pro-section .pro-screen-size .pro-max {
  background-color: transparent;
}

.iphone-pro-container .iphone-pro-section .pro-screen-size .pro-max h5 {
  text-align: right;
}

.iphone-pro-container .iphone-pro-section .compare-btn {
  width: 100%;
  height: 38px;
  border: 1px solid white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
  margin-top: 15%;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  cursor: pointer;
}

.iphone-pro-container .iphone-pro-section .compare-btn:hover {
  background-color: white;
  color: black;
}

.ar-container {
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.ar-container .ar-title {
  margin-right: 100px;
  font-size: 80px;
  width: 700px;
}

.ar-container .ar-title h3 {
  font-size: 75px;
  color: #6e6e73;
}

.ar-container .ar-title h4 {
  color: white;
}

.ar-container .gradient-overlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 5px 200px rgba(0, 0, 0, 0.9) inset;
          box-shadow: 0 5px 200px rgba(0, 0, 0, 0.9) inset;
}

.ar-container video {
  width: 100%;
}

.ar-container .ar-desc {
  font-size: 21px;
  text-align: center;
  margin: 10% 27% 7% 27%;
  color: #a1a1a6;
}

.ar-container .line-div {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 600px;
  height: 2px;
  border-bottom: 2px solid #036182;
}

.ar-container .ar-more {
  font-size: 32px;
  line-height: 1.125;
  color: white;
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(45deg, #036182, #5eb3ca);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.ar-container .find-more {
  width: 133px;
  height: 36px;
  background-color: #000;
  color: white;
  font-weight: 500;
  border: 1.5px solid #036182;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 35px 0px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.ar-container .find-more:hover {
  background-color: white;
  color: black;
  border: 1.5px solid #036182;
}

.footer-container {
  width: 100%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .other-iphone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  background-color: #111;
  text-align: center;
  margin-top: 10%;
}

.footer-container .other-iphone-container .footer-title {
  font-size: 54px;
  color: white;
  background-color: #111;
}

.footer-container .options-iphone-container {
  width: 100%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 7%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-container .options-iphone-container .trade-container {
  width: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
}

.footer-container .options-iphone-container .trade-container .trade-title h2 {
  font-size: 30px;
  color: white;
  background-color: #111;
}

.footer-container .options-iphone-container .trade-container .trade-desc {
  background-color: #111;
  width: 350px;
  line-height: 1.5;
}

.footer-container .options-iphone-container .trade-container .trade-desc p {
  background-color: #111;
  font-size: 17px;
  padding-top: 10px;
  color: #a1a1a6;
}

.footer-container .options-iphone-container .trade-container .trade-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #111;
  margin-top: 5%;
}

.footer-container .options-iphone-container .trade-container .trade-action p {
  background-color: #111;
}

.footer-container .options-iphone-container .trade-container .trade-action p a {
  font-size: 16px;
  text-decoration: none;
  color: #2997ff;
  background-color: #111;
}

.footer-container .options-iphone-container .trade-container .trade-action p a:hover {
  text-decoration: underline;
}

.footer-container .options-iphone-container .trade-container .trade-action svg {
  padding-top: 3px;
  padding-left: 5px;
  width: 12px;
  height: 12px;
  background-color: #111;
}

.footer-container .options-iphone-container .upgrade-iphone {
  width: 450px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-title h2 {
  font-size: 30px;
  color: white;
  background-color: #111;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-desc {
  background-color: #111;
  width: 350px;
  line-height: 1.5;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-desc p {
  background-color: #111;
  font-size: 17px;
  padding-top: 10px;
  color: #a1a1a6;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #111;
  margin-top: 5%;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-action p {
  background-color: #111;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-action p a {
  font-size: 16px;
  text-decoration: none;
  color: #2997ff;
  background-color: #111;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-action p a:hover {
  text-decoration: underline;
}

.footer-container .options-iphone-container .upgrade-iphone .upgrade-action svg {
  padding-top: 3px;
  padding-left: 5px;
  width: 12px;
  height: 12px;
  background-color: #111;
}

.footer-container .question-container {
  width: 100%;
  background-color: #111;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .question-container .question {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #111;
}

.footer-container .question-container .question h2 {
  font-size: 32px;
  color: white;
  background-color: #111;
}

.footer-container .question-container .question-desc {
  width: 400px;
  background-color: #111;
  text-align: center;
  margin-top: 5%;
  line-height: 1.5;
}

.footer-container .question-container .question-desc p {
  font-size: 17px;
  color: #a1a1a6;
  background-color: #111;
}

.footer-container .question-container .question-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 400px;
  background-color: #111;
  padding-top: 5%;
}

.footer-container .question-container .question-action p {
  font-size: 17px;
  background-color: #111;
  color: #2997ff;
}

.footer-container .question-container .question-action svg {
  width: 12px;
  height: 12px;
  padding-left: 7px;
  background-color: #111;
}

.footer-container .other-link-container {
  width: 70%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container .other-link-container .column {
  width: 180px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.459);
  font-size: 12.5px;
  line-height: 2;
  margin-right: 20px;
}

.footer-container .other-link-container .column .topic-title {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.footer-container .other-link-container .column .sub-list {
  margin-top: 10px;
}

.footer-container .other-link-container .column ul {
  list-style-type: none;
  list-style: none;
  background-color: transparent;
}

.footer-container .other-link-container .column ul li {
  background-color: transparent;
}

.footer-container .more-shop-link-container {
  margin-top: 20px;
  width: 70%;
  background-color: transparent;
}

.footer-container .more-shop-link-container p {
  color: rgba(255, 255, 255, 0.267);
  font-weight: lighter;
  font-size: 12px;
  background-color: transparent;
}

.footer-container .more-shop-link-container span {
  color: #2997ff;
  background-color: transparent;
}

.options-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  color: white;
}

.options-container .option {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  margin: 0 20px;
}

.options-container .option .option-img {
  background-color: transparent;
}

.options-container .option .option-img img {
  width: 56px;
  height: 56px;
  background-color: transparent;
}

.options-container .option .option-title {
  margin-top: 5px;
  background-color: transparent;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}

.options-container .option .option-desc {
  margin-top: 10px;
  text-align: center;
  background-color: transparent;
  font-size: .9em;
  line-height: 1.4;
}

.options-container .option .option-link {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.options-container .option .option-link a {
  text-decoration: none;
  background-color: transparent;
  color: #2997ff;
  font-size: .9em;
}

.options-container .option .option-link img {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  background-color: #000;
}

* {
  font-family: '-apple-system', 'BlinkMacSystemFont', sans-serif;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  height: 20px;
  width: 15px;
  border: 0;
  padding: 0;
  background: transparent;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  cursor: pointer;
  margin-top: 15px;
}

.burger::before, .burger::after {
  content: '';
  width: 15px;
  height: 2px;
  position: absolute;
  background: white;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger::before {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.burger:after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.active.burger:before {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.breadcrumb-container {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: transparent;
}

.breadcrumb-container ul {
  background-color: transparent;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-container ul li {
  background-color: transparent;
  list-style: none;
  color: white;
  font-size: 14px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 3px;
}

.breadcrumb-container ul li img {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.breadcrumb-container ul li .next-crumb {
  width: 20px;
  height: 20px;
}

.seperator {
  width: 70%;
  height: 5px;
  margin: 7% 0% 3% 0%;
  background-color: #111;
  border-bottom: .5px solid  #a1a1a663;
}

.seperator-small {
  width: 70%;
  height: 5px;
  margin: 5% 0% 1% 0%;
  background-color: #111;
  border-bottom: .5px solid  #a1a1a663;
}

.custom-sep {
  margin: 1% 0%;
}

.copyrights-container {
  width: 70%;
  margin-bottom: 30px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyrights-container .copyrights {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.copyrights-container .copyrights p {
  background-color: transparent;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.267);
}

.copyrights-container .copyrights ul {
  margin-left: 30px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  list-style: none;
  font-size: 12px;
}

.copyrights-container .copyrights ul li {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.507);
  margin: 0 5px;
}

.copyrights-container .state {
  background-color: transparent;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.507);
}
/*# sourceMappingURL=main.css.map */