.breadcrumb-container {
    width: 72%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    background-color: transparent;

    ul {
        background-color: transparent;
        list-style-type: none;
        display: flex;
        align-items: center;
        li {
            background-color: transparent;
            list-style: none;
            color: white;
            font-size: 14px;
            text-align: center;
            align-content: center;
            margin: 0 3px;

            img {
                width: 40px;
                height: 40px;
                background-color: transparent;
            }

            .next-crumb {
                width: 20px;
                height: 20px;
            }
        }
    }
}