.burger {
    display: flex;
    outline: none;
    height: 20px;
    width: 15px;
    border: 0;
    padding: 0;
    background:transparent;
    transition: all 250ms ease-out;
    cursor: pointer;
    margin-top: 15px;
}

.burger::before, .burger::after {
    content: '';
    width: 15px;
    height: 2px;
    position: absolute;
    background: white;
    transition: all 250ms ease-out;
    will-change: transform;
}

.burger::before {
    transform: translateY(-3px);
}

.burger:after {
    transform: translateY(3px);
}

.active.burger:before {
    transform: translateY(0) rotate(45deg);
}
  
.active.burger:after {
    transform: translateY(0) rotate(-45deg);
} 