.seperator {
    width: 70%;
    height: 5px;
    margin: 7% 0% 3% 0%;
    background-color: #111;
    border-bottom: .5px solid  #a1a1a663;
}

.seperator-small {
    width: 70%;
    height: 5px;
    margin: 5% 0% 1% 0%;
    background-color: #111;
    border-bottom: .5px solid  #a1a1a663;
}

.custom-sep {
    margin: 1% 0%;
}